.RDataTmp
.RDataTmp1
.RDataTmp2
.Rproj.user
.Rhistory
.Rdata

/scRNAseq_data/
plots_and_figures/

chapters/.Rhistory
chapters/sce_RedDim.rds
chapters/corrected_RedDim.rds
chapters/normalised_sce_list_quickcluster.rds
chapters/normalised_sce_list_celltype.rds
chapters/uncorrected_sce_RedDim.rds
chapters/corrected_lm_RedDim.rds
chapters/TSNE_df2.rds
chapters/corrected_mnn_RedDim.rds
chapters/corrected_mnn.rds
chapters/PCA_dimred_mnn.rds
chapters/TSNE_df2_mnn.rds
chapters/dataset_overlap_sets.docx
chapters/pairwise_dataset_overlap.docx
chapters/sce_paralogs.rds
chapters/uncorrected_sce.rds
chapters/summarized_sce_paralogs.rds
chapters/gcn.rds
chapters/summarized_sce.rds
chapters/metacell_sce.rds
chapters/gene_families.rds

Duplication_data/duplication_info
Duplication_data/duplication_info_filtered
Duplication_data/zma_allgenes.tsv
Duplication_data/zma_allpairs.tsv
Duplication_data/Zma_nuclearcoding_geneIDs.txt
Duplication_data/duplication_info_filtered.rds
Duplication_data/duplication_info.rds
Duplication_data/Zma_idConverter_nuclearCoding.txt
Duplication_data/Zma_idConverter_nuclearCoding.txt
Duplication_data/dup_list.rds
Duplication_data/dup_list_valid
Duplication_data/final_IDmatch.rds
Duplication_data/pairs_by_age_group_expanded.rds
Duplication_data/zma_ID_converter.txt
Duplication_data/functional_annotation.rds

data
products
products.zip
Duplication_data.zip

