/scRNAseq_data/
.Rproj.user
chapters/.Rhistory
.Rhistory
chapters/sce_RedDim.rds
chapters/corrected_RedDim.rds
chapters/normalised_sce_list_quickcluster.rds
chapters/normalised_sce_list_celltype.rds
chapters/uncorrected_sce_RedDim.rds
chapters/corrected_lm_RedDim.rds
chapters/TSNE_df2.rds
chapters/corrected_mnn_RedDim.rds
chapters/corrected_mnn.rds
plots_and_figures/
.RDataTmp
chapters/PCA_dimred_mnn.rds
chapters/TSNE_df2_mnn.rds
chapters/dataset_overlap_sets.docx
chapters/pairwise_dataset_overlap.docx
products
products.zip
.Rdata
